.container {
    max-width: 1024px;
    padding: 20px;
    margin: auto;
    box-sizing: border-box;
}

.heading {
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.28;
    border-bottom: 1px solid rgb(231, 231, 231);;
}