.root {
    position: relative;
    display: inline-block;
    padding: 8px 10px;
    border: 1px solid rgb(213, 217, 217);
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0.2rem 0.5rem 0 rgb(213 217 217 / 50%);
}

.root:disabled {
    opacity: 0.4;
    cursor: default;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 92%;
    transform: translate(-50%, -50%);
}
