.root {
    position: relative;
    display: flex;
    width: 100px;
}

.select {
    border-radius: 4px 0 0 4px;
}

.input {
    min-width: 0;
    flex: 1;
    padding: 10px;
    font-size: 0.94rem;
    border: none;
    outline: 0;
}

.search-button { width: 45px; }

.list {
    position: absolute;
    top: 100%; left: 0;
    width: 100%;
    /* border: 1px solid gray; */
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.list-item {
    border-left: 1px solid rgb(231, 231, 231);
    border-right: 1px solid rgb(231, 231, 231);
    border-bottom: 1px solid rgb(231, 231, 231);
    cursor: pointer;
}

.title {
    display: block;
    padding: 12px;
    width: 100%;
    text-align: left;
    background: none;
    /* flex: 1;
    display: flex;
    align-items: center; */
}
