.empty-cart {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 450px;
    margin: auto;
}

.empty-cart > img {
    order: 1;
    display: block;
    width: 100%;
}

.empty-cart > h1 {
    order: 2;
    font-size: 1.375rem;
    font-weight: 700;
    color: #0F1111;
    text-align: center;
}

.root {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 15px;
}

.root > * {
    flex: 1;
    flex-basis: calc((680px - 100%) * 999);
    box-sizing: border-box;
}

.cart-section {
    min-width: calc(100% - 280px - 15px);
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.cart-title {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.285;
    padding-bottom: 18px;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.cart-list-item {
    padding: 12px 0 12px 0;
    border-bottom: 1px solid rgb(231, 231, 231);
    box-sizing: border-box;
}

.cart-item {
    width: 100%;
}