.root {
    display: block;
    min-height: 60px;
    box-sizing: border-box;
}

.primary-text {
    display: block;
    font-size: 0.875rem;
    line-height: 1.1;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.secondary-text {
    display: block;
    font-size: 0.75rem;
    line-height: 1.1;
    color: rgb(255, 255, 255);
}

.logo-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 8px 12px;
    border-bottom: 1px solid #232f3e;
    background-color: #232f3e;
    box-sizing: border-box;
}

.logo-bar > div {
    flex: 1;
}

.menu-icon {
    height: 32px;
    color: rgb(255, 255, 255);
}

.logo {
    display: block;
    width: 80px;
    color: rgb(255, 255, 255);
}

@media only screen and (min-width:600px) { }
@media only screen and (min-width:801px) { }
@media only screen and (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media only screen and (min-width:1281px) { /* hi-res laptops and desktops */ }