.subtotal {
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 10px;
    padding: 0 20px 20px 20px;
    font-size: 1.125rem;
    line-height: 1.33;
    background-color: rgb(255, 255, 255);
}

.checkout {
    background-color: #FFD814;
}

.checkout:hover {
    background-color: #F2C200;
}