.root {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    box-sizing: border-box;
}

.root > * {
    flex-grow: 1;
    flex-basis: calc((375px - 100%) * 999);
    box-sizing: border-box;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40%;
    min-height: 35%;
    padding: 10px;
    box-sizing: border-box;
}

.image-container::after {
    content: "";
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.03);
    pointer-events: none;
}

.image {
    max-width: 100%;
    max-height: 170px;
}

.info {
    min-width: 60%;
    min-height: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 6px;
    padding: 8px;
}

.title {
    font-size: 0.875rem;
}