.root {
    min-width: 300px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.87);
    border-bottom: 1px solid rgb(231, 237, 237);
}

.close {
    display: inline-block;
    background: none;
}

.close-icon {
    display: block;
    width: 32px;
    height: 32px;
}