.root {
    min-width: 300px;
    min-height: 185px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.header,
.content { padding: 0.5rem; }

.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 0.5rem;
    border-bottom: 1px solid rgb(231, 237, 237);
}

.title {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.87);
}

.title:global(.--error) { color: rgb(223 21 21); }

.icon {
    display: block;
    width: 1.5rem;
    height: auto;
}

.success-icon {
    composes: icon;
    width: 1.8rem;
    color: rgb(136 192 61);
}

.error-icon {
    composes: icon;
    width: 1.8rem;
    color: rgb(223 21 21);
}

.close {
    margin-left: auto;
    background: none;
}