.root {
    min-width: 300px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 0.5rem;
    padding: 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6;
    color: red;
}

.error-icon {
    display: block;
    width: 36px;
    height: 36px;
}

.close {
    margin-left: auto;
    background: none;
}

.close-icon {
    display: block;
    width: 32px;
    height: 32px;
}