.root {
    display: inline-flex;
    justify-content: flex-start;
    color: rgb(15, 17, 17);
}

.symbol {
    display: inline-block;
    height: 1em;
    line-height: 1em;
    font-size: 1rem;
}

.whole {
    display: inline-block;
    height: 0.8em;
    line-height: 0.8em;
    font-size: 2.5rem;
    overflow: hidden;
}

.fraction {
    display: inline-block;
    height: 1em;
    line-height: 1em;
    font-size: 1rem;
}