.root {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 5px;
}

.viewport { overflow: hidden; }

.slides-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
}

.slides-container:global(.--slides-per-view-6) {
    grid-auto-columns: 16.6666%;
}

.slide {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: grab;
    box-sizing: border-box;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
}

.prev-button {
    composes: nav-button;
    left: 0;
}

.next-button {
    composes: nav-button;
    right: 0;
}