.root {
    position: relative;
}

.viewport {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slide-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    grid-auto-rows: 100%;
}

.slide-container:global(.--slides-per-view-2) { grid-auto-columns: 50%; }
.slide-container:global(.--slides-per-view-3) { grid-auto-columns: calc(100% / 3); }
.slide-container:global(.--slides-per-view-4) { grid-auto-columns: 25%; }
.slide-container:global(.--slides-per-view-5) { grid-auto-columns: 20%; }
.slide-container:global(.--slides-per-view-6) { grid-auto-columns: calc(100% / 6); }

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
}

.prev-button {
    composes: nav-button;
    left: 0;
}

.next-button {
    composes: nav-button;
    right: 0;
}