.prev {
    top: 0;
    width: 4.6%;
    height: 4.6%;
    margin-top: 9%;
}

.next {
    top: 0;
    width: 4.6%;
    height: 4.6%;
    margin-top: 9%;
}

.slide-image {
    display: block;
    max-width: 100%;
    object-fit: contain;
}