.root {
    position: relative;
    display: flex;
    width: 200px;
}

.select {
    border-radius: 4px 0 0 4px;
}

.input {
    min-width: 0;
    flex: 1;
    padding: 10px;
    font-size: 0.94rem;
}

.search-button { width: 45px; }

.list {
    position: absolute;
    top: 100%; left: 0;
    width: 100%;
    /* border: 1px solid gray; */
    background-color: rgb(255, 255, 255);
}

.list-item {
    display: flex;
    column-gap: 10px;
}

.image-container {
    flex: 0 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.title {
    flex: 1;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(245, 245, 245);
}

.image {
    display: block;
    max-width: 100%;
    max-height: 60px;
}
