.header {
    display: block;
    font-size: 1.5em;
    line-height: 1.35;
    color: #0F1111;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.header__logobar {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: nowrap;
    color: #0F1111;
    font-size: 12px;
    line-height: 1em;
    border-bottom: 1px solid #232f3e;
    background-color: #232f3e;
}

.header__logobar-left {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
}

.header__logobar-left > .search-form {
    display: none;
}

.header__logobar-right {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
    align-items: center;
}

.header__logobar-right .cart {
    margin-right: 14px;
}

.header__menu-icon {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 14px;
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/new-nav-sprite-global-2x_blueheaven-account._CB658093420_.png");
    background-size: 275px;
    background-position: -20px -378px;
    background-repeat: no-repeat;
}

.header__logo {
    display: inline-block;
    width: 80px;
    height: 27px;
    margin-top: 6px;
    cursor: pointer;
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/new-nav-sprite-global-2x_blueheaven-account._CB658093420_.png");
    background-size: 275px;
    background-position: -10px -50px;
    background-repeat: no-repeat;
}

.header__signin {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #fff;
}

.header__account-icon {
    width: 35px;
    height: 27px;
    margin-left: 4px;
    margin-top: -4px;
    background-image: url('https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/new-nav-sprite-global-2x_blueheaven-account._CB658093420_.png');
    background-size: 275px;
    background-position: -141px -300px;
    background-repeat: no-repeat;
}

.header__search-bar {
    width: 100%;
    height: 44px;
    background-color: #232f3e;
}

.header__search-bar > .search-form {
    height: 100%;
    margin: 0 10px;
}

.header__category {
    display: flex;
    width: 100%;
    height: 45px;
    padding: 0;
    list-style: none;
    color: #0F1111;
    background: #232f3e;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    box-sizing: border-box;
}

.header__category:last-of-type {
    display: none;
}

.header__category-item {
    margin: 0 0 0 15px;
    padding-right: 3px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    line-height: 45px;
    font-size: 15px;
    font-weight: 400;
    font-family: inherit;
}

.header__category-item:last-child { margin-right: 15px; }

.header__location {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 44px;
    width: 100%;
    padding: 0 10px;
    color: #0F1111;
    font-family: inherit;
    font-size: 12px;
    line-height: 1em;
    background-color: #37475A;
    box-sizing: border-box;
}

.header__location-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/new-nav-sprite-global-2x_blueheaven-account._CB658093420_.png");
    background-size: 275px;
    background-position: -75px -340px;
    background-repeat: no-repeat;
}

.header__location-text {
    font-size: 13px;
    line-height: 20px;
    color: #FFF;
    font-family: inherit;
}

.header__option {
    display: none;
    color: #fff;
    cursor: pointer;
}

.header__option-line-1 {
    font-size: 0.75rem;
    line-height: 14px;
    font-weight: 400;
}

.header__option-line-2 {
    font-size: 0.875rem;
    line-height: 15px;
    font-weight: 700;
}

@media only screen and (min-width:600px) {

}



@media only screen and (min-width:801px) {
    .header__category:first-of-type {
        display: none;
    }

    .header__category:last-of-type {
        display: flex;
        overflow: hidden;
    }

    .header__location { display: none; }
    
    .header__logobar {
        height: 60px;
        background-color: #131921;
    }

    .header__logobar-left {
        flex: 1;
    }

    .header__logo { margin-left: 15px; }

    .header__logobar-left > .search-form {
        display: block;
        flex: 1;
        height: 40px;
    }

    .header__menu-icon { display: none; }

    .header__search-bar {
        display: none;
    }

    .header__signin {
        display: none;
    }

    .header__option{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media only screen and (min-width:1281px) { /* hi-res laptops and desktops */ }