@font-face {
  font-family: "Amazon Ember";
  src: url("https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIFont-amazonember_rg-cc7ebaa05a2cd3b02c0929ac0475a44ab30b7efa._V2_.woff2");
}

* {
  margin: 0;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  font: 0.875rem/1.5 "Amazon Ember", Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
}

button {
    all: unset;
    cursor: pointer;
}

.icon {
  display: inline-block;
}

ul { list-style: none; }

ul, li {
    margin: 0;
    padding: 0;
}