.root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 250px;
    /* height: 100px; */
    padding: 20px;
    background-color: white;
    border-radius: 3px;
}

.root > p {
    font-size: 1.125rem;
    line-height: 1.33;
}

.gift {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
}

.gift > input {
    margin-top: 2px;
    margin-right: 5px;
}