.card {
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 7px;
    border: 1px solid rgb(220, 235, 235);
    background-color: rgb(255, 255, 255);
}

.error {
    display: block;
    margin: 8px 0;
    color: red;
}

.order-button {
    background-color: #FFD814;
    box-shadow: 0 0.2rem 0.5rem 0 rgb(213 217 217 / 50%);
}

.cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto auto auto;
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: rgb(213, 217, 217);
    border-radius: 4px;
}